th, td { 
white-space: nowrap;
}

div.dataTables_wrapper {
    width: 98%;
    margin: 0 auto;
}

tfoot input {
        width: 100%;
        padding: 3px;
        box-sizing: border-box;
    }
.tab-content {
  padding:10px;
  border-left:1px solid #DDD;
  border-bottom:1px solid #DDD;
  border-right:1px solid #DDD;
}